.header {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  background-color: #efeeee;
  padding: 10px;
  box-shadow: 0px 0px 10px 0px rgb(121, 121, 121);
  width: 100%;
  position: fixed;
}

.title {
  font-family: "Knewave", cursive;
  color: #f26627;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.nav-item {
  list-style: none;
  color: #f26627;
}

@media only screen and (min-width: 600px) {
  .header{
    flex-direction: row;
    justify-content: space-between;
  }
  
  .nav {
    width: 50%;
  }

  .nav-item{
    font-size: 20px;
  }

  .title{
    margin-left: 15px;
  }
}
