.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(238, 238, 238);
  padding: 10px;
  margin-bottom: 15px;
  box-shadow: 0px 0px 10px 0px rgb(121, 121, 121);
  border-radius: 10px;
  width: 100%;
}

.info-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.button {
  color: black;
  background-color: #f9a26c;
  border-radius: 10px;
  padding: 7px;
  border: none;
  transition: 0.3s;
  margin: 5px;
}

.rating {
  font-size: 18px;
  text-align: center;
}

.movie-title {
  text-align: center;
  font-size: 15px;
  margin: 10px;
  width: 150px;
}

.button:focus {
  outline: 0;
}

img {
  border: solid 5px black;
  width: 150px;
}

.button:hover {
  background-color: #f26627;
  color: white;
}

.added {
  background: red;
}

@media only screen and (min-width: 768px) {
  .info-container {
    flex: 2;
  }

  .img-container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }

  .card {
    height: 400px;
  }
}
