<main class="main">
  <div class="card">
    <h2 class="movie-title">{{ movieRef.original_title }}</h2>
    <div class="img-container">
      <img
        class="img"
        src="http://image.tmdb.org/t/p/w185{{ movieRef.poster_path }}"
      />
    </div>
    <div class="info-container">
      <h2 class="rating">Rating: {{ movieRef.vote_average }}</h2>
      <button
        [ngClass]="addedToWatchList ? 'added' : 'not-added'"
        (click)="toggleWatchList()"
        class="button"
      >
        {{ watchListButtonText }}
      </button>
      <button class="button" (click)="moreDetails()">More details</button>
    </div>
  </div>
</main>
