<main>
  <div class="card">
    <div class="img-container">
      <img
        class="img"
        src="http://image.tmdb.org/t/p/w185{{ movieRef.poster_path }}"
      />
    </div>
    <div class="info-container">
      <h1>{{ movieRef.original_title }}</h1>
      <h2>Rating: {{ movieRef.vote_average }}</h2>
      <p>{{ movieRef.overview }}</p>
      <button [ngClass]="addedToWatchList ? 'added': 'not-added'" (click)="toggleWatchList()" class="button">
        {{watchListButtonText}}
      </button>
    </div>
  </div>
</main>
