.main {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  position: fixed;
}

.card {
    position: relative;
    padding: 10px;
  display: flex;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background: white;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 300px;
}

.button {
    color: black;
    background-color: #f9a26c;
    border-radius: 10px;
    padding: 7px;
    border: none;
    transition: 0.3s;
    margin: 5px;
  }

.img-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.img {
  border: 5px solid black;
  width: 150px;
}

.info-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
}

.overview{
    font-size: 12px;
}

.title {
  font-size: 18px;
}

.rating {
  font-size: 15px;
}
