.form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.spacing {
  text-align: center;
}

.search {
  background-color: #efeeee;
  box-shadow: 0px 0px 10px 0px rgb(121, 121, 121);
  /* transform: translate(50%, 50%);
  left: -50%; */
  border-radius: 10px;
  margin: 10px;
}

.input {
  border-top: 0px;
  border-left: 0px;
  border-right: 0;
  border-bottom: 1px, solid, gray;
  background-color: #efeeee;
  margin: 5px;
  text-align: center;
}

.select {
  background-color: #f9a26c;
  border: 0px;
  border-radius: 3px;
  padding: 5px;
}

.button {
  color: black;
  background-color: #f9a26c;
  border-radius: 15px;
  padding: 10px;
  border: none;
  transition: 0.3s;
}

.button:hover {
  background-color: #f26627;
  color: white;
}

@media only screen and (min-width: 600px) {
.form{
  flex-direction: row;
 justify-content: center;
 align-items: center;
}

.search{
  position: relative;
  transform: translate(-50%, -50%);
  margin-top: 50px;
  top: 50%;
  left: 50%;
  width: 800px;
}

.input{
  margin: 3px;
}

.select{
  margin: 3px;
}

}